*{
    margin: 0;
    padding: 0;
    font-family:'Tahoma' sans-serif;
    box-sizing: border-box;}

.banner{
    background-image: url(Picture/background.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(241, 98, 153);
    margin-right: 30% ;
    margin-left: 30% ;
}

.cover{
    width: 100px;
    margin-right: 10%;
    margin-top: 5%;
}

.nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;  
}

.nav ul li a{ 
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-size: 80px;
    font-weight: bold;
    position: relative;
}

.nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: rgb(238, 185, 194);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.nav ul li a:hover::after{
    width:100%;
}

.header-1 p{
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 100px;
    text-align: center;
    text-shadow: 20px 20px 30px rgb(66, 65, 65);
    font-weight: bold;
    text-decoration: overline;
    color:rgb(26, 25, 25);
    font-family: 'Tahoma', serif;
}
.header-1 h1{
    font-size: 100px;
    text-align: center;
    text-shadow: 10px 10px 15px rgb(228, 228, 192);
    color: rgb(180, 79, 96);
    font-weight: bolder;
    padding-bottom: 8%;
}
.row{
    display: flex;
}
.image{
    border-style: none;
    flex-basis: 35%;
    margin-left: 20px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;

}

.header-2{
    flex-basis: 60%;
}
.header-2 h3{
    font-size: 80px;
    padding: 1%;
}

.icons a{ 
    text-decoration: none;
    color: black;
}

.icons ion-icon{
    margin-left: 20%;
    color: rgb(15, 15, 15);
    margin-right: -265px;
    font-size: 90px;
    transition: .4 ease;
}

.icons ion-icon:hover{
    color: rgb(238, 56, 126);
}

footer{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(255, 254, 254);
    font-size: 30px;
}